@import "../../../styles/styles.scss";
@import "../../../styles/variables";

.heading {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;

  &:hover {
    color: #262b29;
  }

  @include devices(mobile) {
    font-size: 22px;
    max-width: 250px;
  }
}
.allCards {
  width: 70%;
  height: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include devices(tablet) {
    border-radius: 10px;
    margin-bottom: 20px;
  }
}

.buttonContainer {
  margin-top: 60px;
  z-index: 1;
  @include devices(tablet) {
    margin-top: 30px;
  }
}

.buttonText {
  color: black;
  font-size: 30px;
  font-family: Roxborough-CF;
  @include devices(mobile) {
    font-size: 22px;
  }
}

.saying {
  font-family: "Inconsolata-Regular";
}

.imageContainer {
  position: relative;
  width: 80%;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  @include devices(tablet) {
    min-height: 300px;
    min-width: 300px;
  }
}

.image1 {
  position: relative;
  animation: rotation 100s infinite linear;
  z-index: 0;

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
}

.image2 {
  position: relative;
  height: auto;
  padding-left: 75px;
  padding-right: 75px;
  @include devices(tablet) {
    padding: 0;
  }
}

.speechBubble {
  width: 100%;
  max-height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid black;
  padding: 30px;
  text-align: center;
  background-color: white;
  border-radius: 12px;
  color: black;
  position: relative;
  @include devices(tablet) {
    min-height: 140px;
  }
}

.speechBubble:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid black;
  border-top: 10px solid black;
  border-bottom: 10px solid transparent;
  right: 20px;
  bottom: -23px;
}

.speechBubble:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid #fff;
  border-top: 10px solid #fff;
  border-bottom: 10px solid transparent;
  right: 24px;
  bottom: -13px;
}

.placeholder {
  height: 90px;
  @include devices(tablet) {
    height: 140px;
  }
}
